name: Ubuntu Build

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main, develop]

jobs:
  build-ubuntu:

    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: recursive

    - uses: actions/cache@v3
      with:
        path: |
          ~/.transgui_sdk/lazarus
          ~/.transgui_sdk/fpc-3.2.3
        key: ubuntu-fpc-lazarus

    - run: .github/build_ubuntu.sh

    - uses: actions/upload-artifact@v3
      with:
        name: TransGUI Linux
        path: units/transgui-x86_64.AppImage
